<div class="posts">
    <p>No momento temos <%= posts.length %> posts em nosso blog</p>
    <% posts.forEach(post => { %>
     <h1><%= post.titulo %></h1>
     <p><%- post.conteudo %></p>
     <h4><%= post.autor %> - <%= post.data_postagem%></h4>
     <p class="linha">____________________________________</p>
    <% }) %>
</div>

